---
import ReactButton from "../components/reactComponent";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Javascript visible as text">
  <div
    class="*:grid *:place-items-center *:bg-slate-400 *:p-2 flex gap-4 p-4 bg-green-300"
  >
    <ReactButton client:idle />
    <button>Does Nothing</button>
  </div>
</Layout>
